.App {
  text-align: center;
}
body {
  font-family: 'nanumsquare';
}
.nav-bar {
  display: flex;
  width: 100%;
  padding: 20px;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  background-color: black;
}
.nav-bar h1 {
  margin: 0;
}
.post-list {
  margin-top: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
